.top-page
  %P WHAT DO YOU WANT ?
  .link
    .link__log-in
      .link__log-in__login_btn
        = link_to "LOG-IN","/users/sign_in"
    .link__sign-up
      .link__sign-up__signup_btn
        = link_to "SIGN-UP","/users/sign_up"

