.todo_header{
  &__content{
    position: relative;
    &__back{
      position: absolute;
      bottom: 0;
      left:0;
      a {
        text-decoration-line: none;
        color: #000;
      }
      a:hover{
        text-decoration-line: underline;
      }
    }
  }
}

.all_todos{
  padding-top: 110px; /* 打ち消し用のパディング */
  overflow: auto;
  &__content{
    width: 800px;
    margin: 20px auto 0;
    padding: 0 40px;
    &__personal{
      margin-bottom: 50px;
      border-bottom: 1px solid grey;
      position: relative;
      display: flex;
      flex-direction: row;
      &__user_icon{
        font-size: 50px;
        width: 300px;
        height: 350px;
        margin: 20px 0 20px 40px;
        border: 1px solid black;
        box-shadow: 5px 15px 50px rgba(0,0,0,.4);

        &__img img{
          object-fit: cover;
          width: 300px;
          height: 350px;
        }
      }
      &__user_name{
        transform: rotate(-90deg) translateX(-50%);
        font-size: 20px;
        font-weight: bold;
        transform-origin: top ;
        line-height: 20px;
      }
      &__index{
        vertical-align: top;
        margin-left: 20px;
        margin-top: 20px;
        height: 350px;
        &__user_want{
          vertical-align: top;
          width: 400px;
          &__content{
            color: #57ad57;
            font-size: 50px;
            overflow-wrap: break-word;
            h2 {
              max-height: 150px;
              overflow: hidden;
              position: relative;
            }
            h2::after{
              display: block;
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 50%;
              height: 1.5em;
              background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
              background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
            }
          }
        }
        &__description{
          margin-top: 30px;
          padding-top: 10px;
          width: 400px;
          position: relative;
          max-height:100px;
          height: 100px;
          word-break: break-word;
          overflow: hidden;
        }
        &__description::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          float: left;
          display: block;
          margin-right: 10.1484%;
          width: 26.56773%;
          height: 3px;
          background-color: #000;
          }
          &__description::after{
          display: block;
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 50%;
          height: 1.5em;
          background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
          background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
        }
          &__detail_btn{
          background-color: #57ad57;
          width:100px;
          height:60px;
          text-align: center;
          vertical-align: bottom;
          position: absolute;
          bottom: 20px;
          right: 80px;
          line-height: 60px;
          color: white;
          box-shadow: 5px 15px 50px rgba(0,0,0,.4);
        }
      }
    }
  }
}
.all_todos__content__personal:nth-child(odd) {
  flex-direction: row-reverse;
}
.all_todos__content__personal:nth-child(odd) .all_todos__content__personal__index__detail_btn{
  position: absolute;
  left:80px;
}


h2{
  font-family: 'GT Walsheim';
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.parsonal_todos{
  display: none;
  position: fixed;
  z-index: 2222;
  width:1200px;
  margin: 0 auto;
  .todo_back{
    margin: 10px 0;
    display: inline-block;
    background-color: #57ad57;
    width:100px;
    height:60px;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    color: white;
  }
}
@keyframes modal{
  0% {left:-100%}
  100% {top:0%}
}
@keyframes modalClose{
  0% {top:0%}
  100% {left:-100%}
}

.todo_modal_bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1111;
  display: none;
  width: 100%;
  height: 120%;
  background-color:rgba(252, 252, 252, 0.767);
  filter: blur(100px);

}
.todo_modal_bg:before{
  filter: blur(100px);
  background: inherit;
}
