.todo_header{
  position: fixed;
  height: 100px;
  width:100vw;
  z-index: 100;
  background-color: white;
  padding-top: 10px;
  &__content{
    margin: 0 40px;
    text-align: center;
    height: 100%;
    border-bottom: 1px solid grey;
    position: relative;
      &__title{
      display: inline-block;
      text-align: center;
    }
    &__user_name{
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &__user_icon{
      font-size: 50px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &__all_todos{
      position: absolute;
      right: 0;
      bottom: 0;
      a {
        text-decoration-line: none;
        color: black;
      }
      a:hover{
        text-decoration-line: underline;
      }
    }
    &__log_out{
      position: absolute;
      right: 0;
      top: 0;
      a {
        text-decoration-line: none;
        color: black;
      }
      a:hover{
        text-decoration-line: underline;
      }
    }
  }
}
.big_user_icon{
  position: absolute;
  right: 80px;
  top:150px;
  width:550px;
  height: 600px;
  background-color: white;
  opacity: 0.6;
img{
    position: relative;
    z-index: -8888;
    width:550px;
    height: 600px;
    object-fit: cover;
    filter: blur(5px);
    background-color: black;
  }
}


.todo_content{
  padding-top: 100px; /* 打ち消し用のパディング */
  &__tab_wrap{
    width: 800px;
    margin: 80px auto;
    position: relative;
    .add_tab{
      display: inline-block;
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 710px;
    }
    // タブの吹き出し
    .tab_balloon {
      position: absolute;
      top: -70px;
      left: 100px;
      margin: 2em 0 2em 40px;
      padding: 15px;
      background: #fff0c6;
      border-radius: 30px;
    }
    .tab_balloon:before {  
      content: "";
      position: absolute;
      left: -38px;
      width: 13px;
      height: 12px;
      bottom: 0;
      background: #fff0c6;
      border-radius: 50%;
    }
    .tab_balloon:after {
      content: "";
      position: absolute;
      left: -24px;
      width: 20px;
      height: 18px;
      bottom: 3px;
      background: #fff0c6;
      border-radius: 50%;
    }
    &__tab_area{
      font-size: 0;
      // width:150px; 
      // margin:0 5px;
      // display:inline-block; 
      // padding:12px 0;
      // color:#999; 
      // background:#ddd;
      // text-align:center; 
      // font-size:13px;
      // cursor:pointer; 
      // transition:ease 0.2s opacity;
      &__tab_label{
        position: relative;
        padding: 0 20px;
        width:143.8px; 
        display:inline-block; 
        padding:12px 0;
        color:#999; 
        background:white;
        text-align:center; 
        font-size:13px;
        cursor:pointer; 
        transition:ease 0.2s opacity;
        // .delete_tab{
        //   display: inline-block;
        //   z-index: 9999;
        //   cursor: pointer;
        //   color: black;
        //   font-size: 14px;
        //   position: absolute;
        //   top:0;
        //   left:10px;
        // }
        // .delete_tab:hover{
        //   color: red;
        // }
      }
      .todo_content__tab_wrap__tab_area__tab_label.active{
        background:#ddd;
        color: black;
        text-decoration-line: none;
      }
      a{
        text-decoration-line: none;
      }
      .delete_tab{
        margin-right: 0.5em;
        display: inline-block;
        height: 43.98px;
        z-index: 9999;
        color: white;
        font-size: 14px;
        vertical-align: top;
        background:white;
        transition:ease 0.2s opacity;
        pointer-events: none;
      }
      .delete_tab p:hover{
        color: red;
        cursor: pointer;
      }
      .delete_tab.active{
        pointer-events: auto;
        background:#ddd;
        color: black;
        p:hover{
          color: red;
          cursor: pointer;
        }
      }
      
  }


    &__add_tab{
      display: inline-block;
      cursor: pointer;
    }
    &__todo_area{
      // height: 200px;
      background-color: lightgray;
      &__todo_box{
        padding: 10px 20px;
        &__display{
          &__one_todo_wrap{
            display: flex;
            font-size: 20px;
            margin: 10px;
            &__content{
              margin-right: auto;
            }
            &__delete_btn{
              cursor: pointer;
            }
            &__like{
              cursor: pointer;
              .fa-heart-o:hover{
                color: red;
                -webkit-transition: 0.1s ease-in-out;
                -moz-transition: 0.1s ease-in-out;
                -o-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out; 
              }
              .fa-heart{
                color: red;
              }
              .fa-heart:hover{
                color: white;
                -webkit-transition: 0.1s ease-in-out;
                -moz-transition: 0.1s ease-in-out;
                -o-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out; 
              }
              .likes_count{
                display: inline-block;
              }
            }
          }
        }
        &__create_todo{
        }
      }
    }
  }
}