.todo_header
  .todo_header__content
    .todo_header__content__title
      %h1　みんなのやりたいことリスト
    .todo_header__content__user_name
    .todo_header__content__user_icon
    .todo_header__content__all_todos
    .todo_header__content__back
      = link_to "← back", root_path

.all_todos
  .all_todos__content
    - @users.each do |user|
      .all_todos__content__personal
        .all_todos__content__personal__user_name
          %p= user.name
        .all_todos__content__personal__user_icon
          .all_todos__content__personal__user_icon__img
            = image_tag(user.avatar.variant(resize: "300x350"))
        .all_todos__content__personal__index
          .all_todos__content__personal__index__user_want
            .all_todos__content__personal__index__user_want__content
              %h2= user.want
          .all_todos__content__personal__index__description
            説明文、コメント、プロフィール
          .all_todos__content__personal__index__detail_btn
            more

