.top-page{
  // width:100vh;
  height:100vh;
  position: relative;
  background: url('kal-visuals-aK4iPNYipnU-unsplash.jpg');
  background-size: cover;
  p{
    font-size: 50px;
    position: absolute;
    top: 25%;
    left:28%;
    margin-top: -1.0rem;

    animation-name: fadein;
    animation-duration: 3s;
  }
  @keyframes fadein {
    from {
        opacity: 0;
        // transform: translateY(20px);
    }
    to {
        opacity: 1;
        // transform: translateY(0);
    }
  }  
  width: 100%;
  box-sizing: border-box;
  // アニメーション設定{
  font-size: 20px;
  font-weight: bold;

  .link{
    display: table;
    width: 100%;
    height:100px;
    position: absolute;
    bottom: 20px;
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    z-index: 1111;

    @keyframes fadein {
      from {
          opacity: 0;
          transform: translateY(20px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
    }
    &__log-in{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    padding-right: 30px;
      &__login_btn{
        font-size: 30px;
        display: inline-block;
        text-align: right;
        cursor: pointer;
        }
        a {
          text-decoration-line: none;
          color: black;
        }
      }
    &__sign-up{
      display: table-cell;
      padding-left: 30px;
      vertical-align: middle;
      &__signup_btn{
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
      }
      a {
        text-decoration-line: none;
        color: black;
      }
    }
  }
  .how_to{
    position: absolute;
    bottom:0;
    left:45%;
    animation: flash 2s linear infinite;
    animation-delay: 4.5s;
    opacity: 0;
  }
  @keyframes flash {
    0%,100% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  }
}

.top-page-2{
  height:200vh;
  width: 100vw;
  position: relative;
  &__content{
    display: inline-block;
    height:80%;
    width: 100vw;
    position: absolute;
    bottom: 0;
    &__header{
      height:100px;
      width:100px;
      display: inline-block;
      position: relative;
      top: -30px;
    }
      &__title{
      position: relative;
      top: 50px;
      opacity: 0;
      width: 1080px;
      height: 100px;
      background-color: black;
      color: white;
      font-size: 50px;
      font-weight: bold;
      line-height: 100px;
      float: right;
      padding-left: 20px;
    }
    &__discription{
      position: absolute;
      top: 200px;
      left: 120px;
      font-size: 20px;
      line-height: 2;
      opacity: 0;
    }
    &__image{
      opacity: 0;
      position: absolute;
      top: 300px;
      right: 200px;
      height:400px;
      width:300px;
      background: url('second_top.jpg');
      background-size: cover;
    }
    &__detail{
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 50px;
      height:500px;
      width:800px;
      background: url('real_image.png');
      background-size: cover;
      &__circle1{
        position: absolute;
        right:290px;
        top:-6px;
        height:40px;
        width: 200px;
        border: 5px solid red;
        border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
      }
      &__comment1{
        position: absolute;
        right:320px;
        top:-40px;
        color: red;
        font-size: 20px;
        font-weight: bold;
      }
      &__circle2{
        position: absolute;
        left:110px;
        top:130px;
        height:30px;
        width: 100px;
        border: 5px solid red;
        border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
      }
      &__comment2{
        position: absolute;
        left:60px;
        top:90px;
        color: red;
        font-size: 20px;
        font-weight: bold;
      }
      &__circle3{
        position: absolute;
        left:100px;
        top:180px;
        height:80px;
        width: 100px;
        border: 5px solid red;
        border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
      }
      &__comment3{
        position: absolute;
        left:100px;
        top:270px;
        color: red;
        font-size: 20px;
        font-weight: bold;
      }
    }
    &__detail__discription{
      opacity: 0;
      height: 200px;
      width: 400px;
      position: absolute;
      right: 50px;
      bottom: 400px;
      line-height: 2;
      font-size: 20px;
    }
  }
}
